results/*
!results/.gitkeep

config/config.yaml
!config/.gitkeep

resources/*
resources/taxidMapping/protacc2taxids_virus.txt
!resources/.gitkeep
!resources/Databases/.gitkeep
!resources/SampleData/.gitkeep
!resources/test_files/
!resources/XTandem/

resources/taxidMapping/accessions_hashed.npy
resources/taxidMapping/taxids.txt
resources/taxidMapping/accessions.txt

.snakemake/*

workflow/scripts/belief_propagation_old.py
workflow/scripts/CreatePepGMGraph_customJson.py
workflow/scripts/BarPlotResults_customTaxa.py
workflow/scripts/PrettyPlots.py
workflow/scripts/Peptidome_comparison.py
workflow/scripts/belief_propagation_log.py
workflow/scripts/__pycache__/*

workflow/Sars_strains.snakefile

.snakemake/
.vscode/

config/my_config.yaml

taxdump.tar.gz
data/
old_data/
logs/
benchmarks/
initial_benchmarks/

.DS_Store

.idea/
*.iml

# dotenv
.env

.snakemake/

# virtualenv
.venv
venv/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.tar.gz

# Rust
/target/
peptonizer_rust/target/
peptonizer_rust/node_modules/
peptonizer_rust/pkg/
peptonizer_rust/yarn.lock
